---
layout: index_template
title: Frank's Blog
---

<!--<ul>-->
    <!--{% for post in site.posts limit: 2 %}-->
    <!--<li>✐ <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>..........{{ post.date | date: '%Y-%m-%d' }}</li>-->
    <!--{% endfor %}-->
<!--</ul>-->



<div style="width:100%;font-size: 24px;margin-top: 535px;background: #FFF;opacity: 0.3;text-align: center;padding-top: 20px;padding-bottom: 20px;">您好，我是Frank，一名老码农。3年WEB开发、6年软件开发、4年移动开发，直到今天仍在不断学习中...</div>


<!--{% for tag in site.tags %}-->

    <!--{% if tag[0] == "swift" %}-->
        <!--{% for item in tag[1] %}-->
           <!--<a href="{{ item.url }}">{{ item.content }}</a><br />-->
        <!--{% endfor %}-->
    <!--{% endif %}-->

<!--{% endfor %}-->