<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  
  <div class="title-layout">
    <a href="{{ site.baseurl }}/index.html">
      <img src="{{ site.baseurl }}/images/config/logo.png" class="mylogo-small" />
    </a>
    <h1>{{ site.title }}</h1>
  </div>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="/">✧博客首页</a></li>
            {% for link in site.data.navigation %}
            <li><a href="{{ site.baseurl }}{{ link.url }}">✧{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          <div class="rcodePanel">
            <img src="{{ site.baseurl }}/images/config/rcode.png" style="width: 50%;"/>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</header>

<!-- Language Switcher -->
{% include language-switcher.html %}
