---
layout: default
---

<article id="main-content">
  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.description }}</p>
  </header>

  <div>
    <link
      href="{{ site.baseurl }}/images/posts/technology/im/static/css/main.456dbb62.css"
      rel="stylesheet"
    />
    <div id="root"></div>
    <script
      defer="defer"
      src="{{ site.baseurl }}/images/posts/technology/im/static/js/main.1791dba0.js"
    ></script>
  </div>

  <section class="wrapper style5">
    <div class="inner">{{ content }}</div>
    <div class="inner" style="text-align: right; display: none">
      <span id="busuanzi_container_page_pv"
        >本文已被阅读：<span id="busuanzi_value_page_pv"></span>次</span
      >
    </div>
  </section>
</article>
